.App {
  font-family: sans-serif;
  text-align: center;
}

.image-container {
  display: grid;
  gap: 20px;
  margin-top: 20px;
  max-width: 1241px;
  margin: 0 auto 28px;
  width: 100%;
}
.image-container img {
  border: 2px solid #e64a86;
  border-radius: 5px;
}

textarea {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  flex: 1;
  border: none;
}

textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.input-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
}

.sdk-button {
  background-color: #e64a86;
  color: white;
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  max-width: 640px;
  width: 200px;
}
p.loading-spinner {
  margin-top: 10px;
  font-size: 16px;
  color: #e64a86;
}