.App {
  font-family: sans-serif;
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  border: 2px solid #e64a86;
  border-radius: 5px;
}

.large-image {
  margin-bottom: 20px;
}

.small-images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;
  max-width: 1000px;
}

.small-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

textarea {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  flex: 1;
  border: none;
}

textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.input-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
}

.sdk-button {
  background-color: #e64a86;
  color: white;
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  max-width: 640px;
  width: 200px;
}
p.loading-spinner {
  margin-top: 10px;
  font-size: 16px;
  color: #e64a86;
}